{% extends "base.html" %}
{% load static %}
{% block body_block %}
<h2>All Events</h2>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#home" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
  <li role="presentation"><a href="#motion" aria-controls="motion" role="tab" data-toggle="tab">Motion</a></li>
  <li role="presentation"><a href="#system" aria-controls="system" role="tab" data-toggle="tab">System</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
  {% include "events/events_contents.html" with events=all_events %}
  </div>
  <div role="tabpanel" class="tab-pane" id="motion">
  {% include "events/events_contents.html" with events=motion_events %}
  </div>
  <div role="tabpanel" class="tab-pane" id="system">
  {% include "events/events_contents.html" with events=system_events %}
  </div>
</div>
{% endblock %}
