<ul class="media-list">
    {% if not events %}
      No events yet...
    {% endif %}
    {% for event in events %}
    <li>
    <div>
      <h4>
        <small>{{ event.time }}&nbsp;&nbsp;</small>
        <br/>
        {{ event.description }}
        <small>
          {% if event.url != '' %}
            (&nbsp;<a href="{{ event.url }}" target="_blank">{{event.url_text}}</a>&nbsp;)&nbsp;
          {% endif %}
          {% if event.status == 0 %}
            <span class="label label-success">&nbsp;&nbsp;Success
          {% elif event.status == 1 %}
            <span class="label label-danger">&nbsp;&nbsp;Failure
          {% elif event.status == 2 %}
            <span class="label label-danger">&nbsp;&nbsp;System Error
          {% elif event.status == 3 %}
            <span class="label label-info">&nbsp;&nbsp;Info
          {% elif event.status == 4 %}
            <span class="label label-warning">&nbsp;&nbsp;Warning
          {% endif %}
        &nbsp;&nbsp;</span></small>
      </h4>
    </div>
  </li>
  {% endfor %}
</ul>
