<h3>Camera Details</h3>
<ul class="list-group">
  {% if stream_active  %}
  <li class="list-group-item list-group-item-success">
  {% else %}
  <li class="list-group-item list-group-item-danger">
  {% endif %}
    <strong>Status:&nbsp;</strong>{% if stream_active %} Live {% else %} Down {% endif %}&nbsp;
    {% if request.user.is_staff %}
    <strong>
      {% if stream_active %}
      <a href="{% url 'camera_off' %}" class="text-danger pull-right">
        <span class="glyphicon glyphicon-off" id="camera-off"></span>
      </a>
      <a href="{{ camera_details.control_url }}" target="_blank" class="text-muted pull-right">
        <span class="glyphicon glyphicon-cog" id="camera-control"></span>
      </a>
      {% else %}
      <a href="{% url 'camera_on' %}" class="text-success pull-right">
        <span class="glyphicon glyphicon-off" id="camera-on"></span>
      </a>
      {% endif %}
    </strong>
    {% endif %}
  </li>
  {% if camera != None %}
  <li class="list-group-item">
    <strong>Name:&nbsp;</strong>{{ camera.name }}</li>
  <li class="list-group-item">
    <strong>Location:&nbsp;</strong>{{ camera.location }}</li>
  {% endif %}
  {% if stream_active %}
  <li class="list-group-item">
    <strong>Resolution:&nbsp;</strong>
    {{ camera_details.res_width }}x{{ camera_details.res_height }}
  </li>
  <li class="list-group-item">
    <strong>Frame rate:&nbsp;</strong>
    {{ camera_details.fps }} fps
  </li>
  <li class="list-group-item">
    <strong>Last motion detected:&nbsp;</strong>
    {{ camera_details.last_motion }}
  </li>
  {% endif %}
</ul>
