<h3>Camera Details</h3>
    <ul class="list-group">
      {% if status == "Live" %}
        <li class="list-group-item list-group-item-success">
      {% elif status == "Down" %}
        <li class="list-group-item list-group-item-danger">
      {% endif %}
        <strong>Status:&nbsp;</strong>{{ status }}&nbsp;
        {% if request.user.is_staff %}
          {% if status == "Live" %}
            <a class="glyphicon glyphicon-off" href="#" id="camera-off"}></a>
          {% elif status == "Down" %}
            <a class="glyphicon glyphicon-off" href="#" id="camera-on"></a>
          {% endif %}
        {% endif %}
        </li>
      <li class="list-group-item">
        <strong>Name:&nbsp;</strong>{{ camera.name }}</li>
      <li class="list-group-item">
        <strong>Location:&nbsp;</strong>{{ camera.location }}</li>
      <li class="list-group-item">
        <strong>Resolution:&nbsp;</strong>{{ camera.resolution }}</li>
      <li class="list-group-item">
        <strong>Frame rate:&nbsp;</strong>{{ camera.fps }} fps</li>
      <li class="list-group-item">
        <strong>Uptime:&nbsp;</strong>12 days, 3 hours</li>
      <li class="list-group-item">
        <strong>Last snapshot:&nbsp;</strong>21/04/16 14:32</li>
    </ul>
