{% extends "base.html" %}
{% load static %}
{% block body_block %}

<div class="row-fluid">
  <div class="col-md-6">
    <div class="well">
      <img src="{% static 'house-03.jpg' %}" class="img-responsive">
    </div>
  </div>
  <div class="col-md-2">
      <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="-90" data-slider-max="90" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
  </div>
  <div class="col-md-4">
    <h3>Camera Details</h3>
    <ul class="list-group">
      <li id="stream-status" class="list-group-item list-group-item-success">
        <strong>Status:&nbsp;</strong>Live</li>
      <li class="list-group-item">
        <strong>Name:&nbsp;</strong>{{ camera.name }}</li>
      <li class="list-group-item">
        <strong>Location:&nbsp;</strong>{{ camera.location }}</li>
      <li class="list-group-item">
        <strong>Resolution:&nbsp;</strong>{{ camera.resolution }}</li>
      <li class="list-group-item">
        <strong>Frame rate:&nbsp;</strong>{{ camera.fps }} fps</li>
      <li class="list-group-item">
        <strong>Uptime:&nbsp;</strong>12 days, 3 hours</li>
      <li class="list-group-item">
        <strong>Last snapshot:&nbsp;</strong>21/04/16 14:32</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <input id="ex2" data-slider-id="ex2Slider" type="text" data-slider-min="-90"
                data-slider-max="90" data-slider-step="1" data-slider-value="0" />
  </div>
  <div class="col-md-6"></div>
</div>
<div class="row" style="padding-top: 20px">
  <div class="col-md-6 text-center">
    <div class="btn-group" role="group">
      <a href="snapshot" class="btn btn-default" type="button">
	<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
	&nbsp;Take snapshot
      </a>
      <!--<button class="btn btn-default" type="button">Something else</button>-->
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    {% include "events/last_events.html" %}
  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <a href="/events">Show all events...</a>
  </div>
  <div class="col-md-5"></div>
</div>
{% endblock %}
