{% extends "base.html" %}
{% load static %}
{% block body_block %}

<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-xs-10 col-sm-11" id="streamCol">
        <div class="well">
          <img src="{{ stream_url }}" class="stream-img img-responsive hidden-xs hidden-sm">
          <a href="snapshot">
            <img src="{{ stream_url }}" class="stream-img img-responsive hidden-md hidden-lg">
          </a>
        </div>
      </div>
      <div class="col-xs-2 col-sm-1" id="tiltSliderCol" style="height:185px;">
        <div style="height:10%;"></div>
        <input id="tiltSlider" data-slider-id='tiltSliderId' type="text" data-slider-min="-90" data-slider-max="90" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical" data-slider-tooltip-position="left" />
      </div>
      <div class="col-xs-10 col-sm-11 text-center">
        <input id="panSlider" data-slider-id="panSliderId" type="text" data-slider-min="-90" data-slider-max="90" data-slider-step="1" data-slider-value="0" />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h3>Camera Details</h3>
    <ul class="list-group">
      <li id="stream-status" class="list-group-item list-group-item-success">
        <strong>Status:&nbsp;</strong>Live</li>
      <li class="list-group-item">
        <strong>Name:&nbsp;</strong>{{ camera.name }}</li>
      <li class="list-group-item">
        <strong>Location:&nbsp;</strong>{{ camera.location }}</li>
      <li class="list-group-item">
        <strong>Resolution:&nbsp;</strong>{{ camera.resolution }}</li>
      <li class="list-group-item">
        <strong>Frame rate:&nbsp;</strong>{{ camera.fps }} fps</li>
      <li class="list-group-item">
        <strong>Uptime:&nbsp;</strong>12 days, 3 hours</li>
      <li class="list-group-item">
        <strong>Last snapshot:&nbsp;</strong>21/04/16 14:32</li>
    </ul>
    <div class="text-center hidden-xs hidden-sm">
      <div class="btn-group" role="group">
        <a href="snapshot" class="btn btn-default" type="button">
           <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            &nbsp;Take snapshot
        </a>
        <!--<button class="btn btn-default" type="button">Something else</button>-->
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    {% include "events/last_events.html" %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <a href="/events">Show all events...</a>
  </div>
</div>
{% endblock %}
